
<h4>Data</h4>
<table border="1">
  <tr>
    <td>
      ID:
    </td>
    <td>
      {{id}}
    </td>
  </tr>
  <tr>
    <td>
      First Name:
    </td>
    <td>
      {{firstName}}
    </td>
  </tr>
  <tr>
    <td>
      Last Name:
    </td>
    <td>
      {{lastName}}
    </td>
  </tr>
  <tr>
    <td>
      Username:
    </td>
    <td>
      {{username}}
    </td>
  </tr>
</table>

<form action="http://localhost:3000/" method="get">
    <button>Home</button>
</form>

<form action="http://localhost:3000/update" method="post">
  <input name="id" value={{id}}>
  <input name="firstName" value={{firstName}}>
  <input name="lastName" value={{lastName}}>
  <input name="username" value={{username}}>
  <button>Update Record</button>
</form>
